version: '3'

services:
  broker-service:
    build:
      context: ./broker-service
      dockerfile: broker-service.Dockerfile
    restart: always
    ports:
      - "8070:8070"
    deploy:
      mode: replicated
      replicas: 1

  auth-service:
    build:
      context: ./auth-service
      dockerfile: auth-service.Dockerfile
    restart: always
    ports:
      - "8071:8071"
    deploy:
      mode: replicated
      replicas: 1

  front-end:
    build:
      context: ./front-end
      dockerfile: front-end.Dockerfile
    restart: always
    ports:
      - "8069:8069"
    deploy:
      mode: replicated
      replicas: 1


  postgres:
    image: 'postgres:14.2'
    ports:
      - "5432:5432"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users
    volumes:
    - postgres-data:/var/lib/postgresql/data


volumes:
  postgres-data: